<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter emp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <h1>Filter Employees</h1>
        <hr>

        <form action="/fliter_emp" method="post">
            {% csrf_token %}
            
            <label for="name">First Name</label><br>
            <input type="text" id="First_name" name="First_name" value="{{ First_name }}"><br>
            
            
            <label for="Department">Department</label><br>
            <input type="text" id="Department" name="Department" value="{{ Department }}"><br>
            
            <label for="role">Role</label><br>
            <input type="text" id="role" name="role" value="{{ role }}"><br>
            
            <hr>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha384-ZvpUoIxFY3AH9C/pW1s5fZc/8a9d+I5NU3DeM2Q8r4YjqBq4QFq9ROuLGTtWI5i6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-rhHoG2bWqPAA1Spqn1LdYxPIKXvgIVmFjz5l6U5aVZ9QcPBb/KBmYS1NqFvVpUJf" crossorigin="anonymous"></script>
</body>
</html>
